body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
}
.red-color{
    color: red;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 10%;
}
.half-width img{
    width: 100%;
    padding-right: 10%;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(blue,cyan);
    padding: 16px,60px;
    width: 50px;
    height: 40px;
    color:black;
    font-weight: 200;
    border-radius: 2px;
}
